body{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.flexible-container{
    display: flex;
}
.top-banner{
    background-image: url(images/donation9.jpg);
    width: 100% ;
    background-size: 100%;
    margin: 0;
    background-repeat: no-repeat;
}
.banner-desc h1{
    padding-bottom: 100px;
    font-size: 100px;
    color: white;
    text-align: center;
}