body{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.flexible-container{
    display: flex;
}
.top-banner{
    background-image: url(images/donation9.jpg);
    box-shadow:inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
    width: 100% ;
    background-size: 100%;
    margin: 0;
    background-repeat: no-repeat;
}
.banner-desc{
    width: 50%;
    margin-left: 30%;
    margin-top: 8%;
    margin-bottom: 9%;
}
.banner-desc h1{
    font-size: 80px;
    font-weight:bolder;
    color:whitesmoke;
    text-align: center;
}
.banner-desc p{
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 22px;
    margin-bottom: 5%;
}
.donate-btn{
    font-size: 20px;
    text-align: center;
    background-color: tomato;
    padding: 20px 40px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px;
    margin-left:35%;
   
}
h1{
    font-size: 55px;
    font-weight: 900;
    margin: 0;
}
p{
    font-size: 25px;
    color:dimgrey
}
#mid{
    margin-top: 6%;    
}
.lower-desc{
    text-align: center;
}
.side-boxes{
    display: flex;
    text-align: center;
    margin: 10px 600px;
}
.box{
    padding: 10px 20px 10px 20px;
    background-color: rgba(128, 128, 128, 0.151);
    margin-left: 20px;
    border-radius: 10px;
    font-weight: 700;
}
#special{
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.329);
}
#special p{
    color: red;
}
.input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 5px;
    box-sizing: border-box;
    border-color: orange;
    text-align: center;
}
.donate-click{
    margin-left: 15%;
    text-align: center;
    margin-top: 4%;
    display: flex;
}
.donate-plan{
    margin-top: 5%;
}
.big-box h1{
    font-size: 30px;
}
.big-box{
    padding:20px 10px;
    margin: 10px 10px;
    border-radius: 10px;
    text-align: left;
}
#under-sidebox{
    margin: 10px 400px 10px;
}
#pink{
    background-color: rgba(255, 20, 145, 0.164);
}
#ocean{
    background-color: rgba(0, 255, 255, 0.267);
}
#paste{
    background-color:peachpuff
} 
.regular{
    font-size: 40px;
}
.extra-sect{
    margin-top: 8%;
    display: flex;
}  
.half-side{
    width: 50%;
    margin-left:10%;
}
.half-side img{
    border-radius: 10px;
}
.lower-sect{
    margin-top: 10%;
}
.email-part{
    display: flex;
    padding: 30px 50px;
    background-color: peachpuff;
    margin: 10px 300px 200px 300px;
    
}
.email{
    margin-top: 30%;
    margin-left: 50%;
    width: 500px;
    height: 50px;
    margin-bottom: 30%;
    border-style:inherit;
    border-radius: 10px;
    background-color: rgb(197, 187, 187);
    font-size: 30px;
}
.subscribe{
    margin-left: 250px;
    margin-top: 14%;
    
}
.subs-btn{
    margin-left: -15px;
    padding-top: 16px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 16px;
    background-color: tomato;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px 20px;
}
footer h1{
    font-family: 'Lobster', cursive;
    
    color: tomato;
}