body{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.flexible-container{
    display: flex;
}
.top-banner{
    background-image: url(images/donation9.jpg);

    width: 100% ;
    background-size: 100%;
    margin: 0;
    background-repeat: no-repeat;
}
.banner-desc h1{
    padding-top: 230px;
    padding-bottom: 0px;
    font-size: 100px;
    color:whitesmoke;
    text-align: center;
}
.banner-desc p{
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
}
.donate-btn{
    font-size: 20px;
    display: block;
    text-align: center;
    background-color: tomato;
    padding: 20px 40px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 50px;
   
}