body{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.flexible-container{
    display: flex;
}
.top-banner{
    background-image: url(images/donation9.jpg);
    box-shadow:inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
    width: 100% ;
    background-size: 100%;
    margin: 0;
    background-repeat: no-repeat;
}
.banner-desc{
    width: 50%;
    margin-left: 30%;
    margin-top: 8%;
    margin-bottom: 9%;
}
.banner-desc h1{
    font-size: 80px;
    font-weight:bolder;
    color:whitesmoke;
    text-align: center;
}
.banner-desc p{
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 22px;
    margin-bottom: 5%;
}
.donate-btn{
    font-size: 20px;
    text-align: center;
    background-color: tomato;
    padding: 20px 40px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px;
    margin-left:35%;
   
}
h1{
    font-size: 55px;
    font-weight: 900;
    margin: 0;
}
p{
    font-size: 25px;
    color:dimgrey
}
#mid{
    margin-top: 6%;    
}
.lower-desc{
    text-align: center;
}
.side-boxes{
    display: flex;
    text-align: center;
    margin: 10px 600px;
}
