body{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.flexible-container{
    display: flex;
}
.top-banner{
    background-image: url(images/donation9.jpg);
    width: 100% ;
    background-size: 100%;
    margin: 0;
    background-repeat: no-repeat;
}
.banner-desc{
    width: 50%;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 8%;
}
.banner-desc h1{
    font-size: 80px;
    font-weight:bolder;
    color:whitesmoke;
    text-align: center;
}
.banner-desc p{
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 22px;
    margin-bottom: 10%;
}
.donate-btn{
    font-size: 20px;
   
    text-align: center;
    background-color: tomato;
    padding: 20px 40px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px;
    margin-left:35%;
   
}